<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="rm_serial_port">

        <ros2_control name="rm_serial_port" type="system">

            <hardware>
                <plugin>rm_pioneer_hardware/SerialPortHardware</plugin>
                <param name="device_name">/dev/ttyACM0</param>
                <param name="baud_rate">115200</param>
                <param name="flow_control">none</param>
                <param name="parity">none</param>
                <param name="stop_bits">1</param>
            </hardware>

            <joint name="pitch_joint">
                <param name="effort_actuator_coefficient">-25000</param>
                <command_interface name="effort"/>
                <state_interface name="position"/>
            </joint>
            <joint name="yaw_joint">
                <param name="effort_actuator_coefficient">-25000</param>
                <command_interface name="effort"/>
                <state_interface name="position"/>
            </joint>
            <sensor name="board_c_imu">
                <state_interface name="orientation.x"/>
                <state_interface name="orientation.y"/>
                <state_interface name="orientation.z"/>
                <state_interface name="orientation.w"/>
                <state_interface name="linear_acceleration.x"/>
                <state_interface name="linear_acceleration.y"/>
                <state_interface name="linear_acceleration.z"/>
                <state_interface name="angular_velocity.x"/>
                <state_interface name="angular_velocity.y"/>
                <state_interface name="angular_velocity.z"/>
                <param name="frame_id">imu</param>
            </sensor>
        </ros2_control>

    </xacro:macro>

</robot>
